.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #4d1601;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    z-index: 99;

    
   
    
  }
  
 
  .icon{
    position: absolute;
    height:100%;
    width: 20%;
    transform: translateX(60rem);
    justify-content: center;
    display: flex;
    

  }
  .pic1{
    position:absolute;
    height:78px;
    
     display: inline-block;
     vertical-align: top;
     transform: translateX(53rem);

  }

  
  .pic2{
    
    height:550%;
    
    
    
    transition: 0.2s;
     transform: translate(80%,-21%);

  }
  
  .cart{
   justify-content: right;
  }
  
  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  
  .dropbtn {
    background-color: #4d1601;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200%;
    height: 6rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: -4;
   
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: whitesmoke;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.733);
    z-index: 1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow:auto;
   
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    font-size: medium;
    width: 300px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: grey;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #b94517;
  }